.wrapper {
  
    display : table;
    text-align: center;
}

.container {
    display : flex;
    justify-content: center;
    align-items: center;
    background-image : url(../images/back1.jpg);
    background-size: cover;
    background-position:center;
}

.title {
    font-size : 400%;
    margin : 10% 0;
    color : white;
    text-shadow : 0px 2px 10px rgba(0,0,0,0.2);
}

.nxtButton {
    border : none;
    border-radius : 2%;
    outline : none;
    width : 100% !important;
    height : auto;
    font-size : 150%;
    padding : 2%;
    margin : 2% 0;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    background-color: white;
    color : #008DD5;
}

.nxtButton:hover{
    background-color: white ;
    border : 2px solid #008DD5;
    color : #008DD5;
    cursor: pointer;
    
}