.header {
    text-align : center;
    padding : 5% 0;
}

.header h1 {
    font-size: 300%;
    color : white;
    text-shadow : 0px 2px 10px rgba(0,0,0,0.2);
}

.container {
    position : relative;
    background-image : url(../images/back3.jpg);
    background-size: cover;
    background-position:center;
}

.hostel {
    width : 250px;
    height : 350px;
    background-color : #addbce;
    display : table;
    border-radius : 2%;
    overflow : hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    transform : scale(1.0);
    transition : all 0.4s ease-in-out;
}

.hostel:hover {
    transform : scale(1.05);
     cursor: pointer;
}

.hostelList li{
    display : inline-block;
    margin : 20px;
    
}



.backgroundCover{
    background-size: cover;
    background-position:center;
}

.hostelList ul {
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    margin : 0 auto;
   
}

.hostelList li:nth-child(1) .hostel{
  background-image :url(../images/house_targaryen.jpg);
  
}

.hostelList li:nth-child(2) .hostel{
  background-image :url(../images/growing-strong-house-tyrell.jpeg);
  
}

.hostelList li:nth-child(3) .hostel{
  background-image :url(../images/honor_house_arryn.jpg);
  
}

.hostelList li:nth-child(4) .hostel{
  background-image :url(../images/roar.jpg);
  
}

.hostelList li:nth-child(5) .hostel{
  background-image :url(../images/family_duty_honor_house_tully.jpg);
  
}

.hostelList li:nth-child(6) .hostel{
  background-image :url(../images/we_do_not_sow_house_greyjoy.jpg);
  
}
 .userForm {
    position : fixed;
    background-color : red;
    background-image: none;
    top : 0;
    left : 0;
    display : none;
   transition : all 0.4s ease-in-out;
    
}

.hostelPoster {
    width : 100%;
    background-color : #DFBBB1;
}

.hostelForm {
    width : 100%;
    background-color :white;
    display : flex;
    justify-content: center;
    align-items: center;
}

.hostelForm form {
    width : 50%;
   
}
.hostelForm form input {
   width : 100%;
    height : 30px;
   margin : 4% 0;
   border : none;
   font-size : 100%;
   border-bottom : 1px solid #008DD5;
}

#tel {
    margin-bottom : 15%;
}

.hostelForm form button {
   
    margin : 0 auto;
}


.nxtButton {
    border : none;
    border-radius : 2%;
    outline : none;
    width : 100%;
    height : auto;
    font-size : 150%;
    padding : 2%;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    background-color: #008DD5;
    color : white;
    transition : all 0.2s ease-in-out;
}

.selectG {
    border : none;
    border-radius : 2%;
    outline : none;
    width : 50%;
    height : auto;
    padding : 2%;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    background-color: #008DD5;
    color : white;
    margin : 4% 0;
}

.nxtButton:hover{
    background-color: white ;
    border : 2px solid #008DD5;
    color : #008DD5;
    cursor: pointer;
    
}

.btnEnter {
    margin-top : 10%;
}

.closeBtn {
    position : absolute;
    top : 5%;
    right : 5%;
    font-size : 120%;
    transform : scale(1.0);
    transition : transform 0.2s ease-in-out;
    color : #DFBBB1;
    
}

.closeBtn:hover {
    transform : scale(1.2);
}